 .small
{
    font-size: smaller;
}
.blackb{
    background-color: black;
    color: white;
    padding: 20px;
}
.center{
    text-align: center;
}
.lifeguard{
    background-image: url('images/lifeguard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.strength{
    color:red;
    font-weight:bold;
}
.bold{
    font-weight:bold;
}
